body{ background: #EAF0F5; margin:0; padding:0; font-size:12px;}
a
{
    text-decoration: none;
}
/* 链接无下划线,有为underline */
a:link
{
    color: #000000;
}
/* 未访问的链接 */
a:visited
{
    color: #000000;
}
/* 已访问的链接 */
a:hover
{
    color: #FF0000;
    text-decoration: underline;
}
/* 鼠标在链接上 */
a:active
{
    color: #FF0000;
}
/* 点击激活链接 */
td
{
    font-family: "Verdana, Arial, Helvetica, sans-serif";
    font-size: 12px;
    text-decoration: none;
    text-decoration: none;
}
body
{
    margin: 0px;
    font: 9pt 宋体;
    font-size: 9pt;
    text-decoration: none;
    scrollbar-face-color: #EBF2FB;
    scrollbar-highlight-color: #ccc;
    scrollbar-shadow-color: #fff;
    scrollbar-3dlight-color: #fff;
    scrollbar-arrow-color: #02338A;
    scrollbar-track-color: #EBF2FB;
    scrollbar-darkshadow-color: #ccc;
}
form, select, input
{
    padding: 0px;
    margin: 0px;
}
*html body
{
    overflow: scroll;
    overflow-x: hidden;
}
html
{
    overflow-x: hidden;
    overflow-y: auto;
}
.rank{border: none;background: url(../images/rank.gif) no-repeat;width: 136px;height: 22px;vertical-align: middle;cursor: default;}
.r0{background-position: 0 0;}
.r1{background-position: 0 -22px;}
.r2{background-position: 0 -44px;}
.r3{background-position: 0 -66px;}
.r4{background-position: 0 -88px;}
.r5{background-position: 0 -110px;}
.r6{background-position: 0 -132px;}
.r7{background-position: 0 -154px;}

textarea, select{ padding:2px; border:1px solid; border-color:#666 #ccc #ccc #666; background:#F9F9F9; color:#333; resize: none; }
.textbox{ padding:3px; border:1px solid; border-color:#666 #ccc #ccc #666; background:#F9F9F9; color:#333; resize: none;}
.textbox:hover, .textbox:focus, textarea:hover, textarea:focus{ border-color:#09C; background:#F5F9FD; }
.tips{color:#999;}
.mybutton{background:url('../images/button_bg.gif') left repeat-x;cursor: pointer;height:23px;BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 1px solid;  color:#555; PADDING-TOP: 2px; padding-top:0px !important;BORDER-BOTTOM: #2C59AA 1px solid}